
<nav>
    <div class="navbar">
        <div class="navbar__brand">
            <h1 class="brand-title">
                NicolBooks
            </h1>
        </div>

        <div class="navbar__menu">
            <ul>
                <li class='navbar__menu-item'><a href="/">Home</a></li>
                <li class='navbar__menu-item'><a href="/authors/index">Authors</a></li>
                <li class='navbar__menu-item'><a href="/">Books</a></li>
            </ul>
        </div>
    </div>
</nav>