
<% if @books.blank? %>
  <% else %>
    <div class="container">
      <div style="margin-top: 5rem;" class="row row-cols-4" id="books">
        <% @books.each do |c| %>
          <div class="col" style="margin-bottom: 1.5rem;">
            <div style="text-align: center;">
              <%= link_to image_tag(c.image), {:action=> 'show', :id => c.id}%>
            </div>
          </div>
          <% end %>
      </div>
    </div>
    <% end %>
<%= link_to "Add new book" , {:action=> 'new' }%>